<div class="text-center">
    <div class="rounded">
        <h4 class="card-title">THANK YOU</h4>
        <h4 class="card-title">FOR SUBMITTING</h4>
        <a routerLink="/client" class="btn btn-primary">CLOSE</a>
    </div>
</div>
<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <h1>THANK YOU</h1>
                <h1>Modal body text goes here.</h1>
            </div>
            <div class="modal-footer">
                <a routerLink="/client" class="btn btn-primary">CLOSE</a>
            </div>
        </div>
    </div>
</div> -->