<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>CLIENT</th>
            <th>DETAILS</th>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{{clients[0].email}}</td>
        </tr>
        <tr>
            <td><b>First Name</b></td>
            <td>{{clients[0].name}}</td>
        </tr>
        <tr>
            <td><b>Last Name</b></td>
            <td>{{clients[0].surname}}</td>
        </tr>
        <tr>
            <td><b>Mobile</b></td>
            <td>{{clients[0].mobile}}</td>
        </tr>
        <tr>
            <td><b>Date</b></td>
            <td>{{clients[0].date}}</td>
        </tr>
    </table>
    <a routerLink="/thanks">next</a>
</div>